{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>Calculate your circularity</h1>
  <p>Add your company with the form below:</p>
  <form method="POST">
      {# This hidden_tag is a CSRF security feature. #}
      {{ form.hidden_tag() }}
      {{ form.name.label }} {{ form.name() }}
      <div></div>
      {{ form.revenue.label }} {{ form.revenue() }}
      <div></div>
      {{ form.TotalSocialInvestment.label }} {{ form.TotalSocialInvestment() }}
      <div></div>
      {{ form.TotalEnergyGenerated.label }} {{ form.TotalEnergyGenerated() }}
      <div></div>
      {{ form.TotalNonFossilFuelEnergyGenerated.label }} {{ form.TotalNonFossilFuelEnergyGenerated() }}
      <div></div>
      {{ form.DirectGHGEmissions.label }} {{ form.DirectGHGEmissions() }}
      <div></div>

      {{ form.IndirectGHGEmissions.label }} {{ form.IndirectGHGEmissions() }}

      {{ form.EmissionsNeutralizedbyCarbonOffsetProjects.label }} {{ form.EmissionsNeutralizedbyCarbonOffsetProjects() }}

      {{ form.EmissionsOfODS.label }} {{ form.EmissionsOfODS() }}

      {{ form.EmissionsOfNOX.label }} {{ form.EmissionsOfNOX() }}

      {{ form.EmissionsOfSOX.label }} {{ form.EmissionsOfSOX() }}

      {{ form.WaterWithdrawal.label }} {{ form.WaterWithdrawal() }}

      {{ form.FreshWaterDischarge.label }} {{ form.FreshWaterDischarge() }}

      {{ form.OtherWaterDischarge.label }} {{ form.OtherWaterDischarge() }}

      {{ form.WaterRecycled.label }} {{ form.WaterRecycled() }}

      {{ form.WasteGeneratedHazardous.label }} {{ form.WasteGeneratedHazardous() }}

      {{ form.WasteGeneratedNonHazardous.label }} {{ form.WasteGeneratedNonHazardous() }}

      {{ form.DivertedWaste.label }} {{ form.DivertedWaste() }}

      {{ form.EnvironmentalFines.label }} {{ form.EnvironmentalFines() }}

      {{ form.FlaredHydrocarbon.label }} {{ form.FlaredHydrocarbon() }}
      {{ form.submit() }}
  </form>
</div>
{% endblock %}
